<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>

</head>
<body>

<div class="login_container">
    <h1>BlogWeb</h1>
    <p>Login to share your blogs with strangers</p>
    <form class="loginform" action="/login" method="post">
        <input type="text" name="username" placeholder="Enter your username">
        <input type="text" name="password" placeholder="Enter password"> 
        <button type="submit">Login</button>
    </form>
    <p>Not a User? <a href="/register"><b>Sign up</b></a></p>
    </div>
</body>
</html>