<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=for, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">

    <title>Document</title>
</head>
<body>


<div class="login_container">
    <h1>Register</h1>
    <p>Join us</p>
    <form class="loginform" action="/register" method="post">
        <input type="text" name="username" placeholder="Enter username">
        <input type="text" name="email" placeholder="Enter email">
        <input type="text" name="password" placeholder="Enter password">
        <button type="submit">Register</button>
    </form>
    <p>Already a User? <a href="/login"><b>Login</b></a></p>
    </div>
</body>
</html>